* {
    transition: all 200ms ease-in-out;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
    background-image: url('/storage/site/bgLarge.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 60%;
    nav {
        .nav-wrapper {
            ul {
                a {
                    sup.notificationCount {
                        width: 30px;
                        height: 30px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                    }
                }
                #notifications {
                    width: auto!important;
                    max-width: 250px;
                    top: 64px!important;
                    li {
                        a {
                            color: var(--primary-bg-dark);
                            display: flex;
                            align-items: center;
                            // i{
                            //     // flex:1;
                            // }
                            .notMsg {
                                // flex: 1;
                                p {
                                    margin: 0;
                                }
                                sub {
                                    color: #666;
                                }
                            }
                        }
                    }
                }
                #manageStaffs {
                    width: auto !important;
                    min-width: 162.969px!important;
                    max-width: 250px;
                    top: 64px !important;
                }
            }
        }
    }
    .modal {
        .progress {
            display: none;
            height: 10px!important;
            background-color: #6ebbfa!important;
            border-radius: 0!important;
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
            margin: 0!important;
            .indeterminate {
                &::before {
                    background-color: #2368a0!important;
                }
                &::after {
                    background-color: #2368a0!important;
                }
            }
        }
        .modal-content {
            margin-top: 40px;
            &:last-child {
                margin: 0;
            }
            fieldset {
                border: 2px solid #ccc;
                padding: 0.35em 0.75em 0em!important;
                legend {
                    padding: 0 10px;
                    text-align: center;
                    h6 {
                        margin: 0;
                    }
                }
                .input-field {
                    margin: 0.5rem 0!important;
                    .label {
                        font-weight: bold;
                    }
                }
            }
        }
        .modal-footer {
            padding: 0 24px;
            li {
                list-style: none;
            }
        }
    }
    main {
        // border:2px solid green;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 0;
        .box {
            margin: 10px 0 0;
            max-width: 400px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .formWrap {
                display: inline-block;
                padding: 0;
                // border: 1px solid #EEE;
                background: rgba(255, 255, 255, 0.8)!important;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                form {
                    h6 {
                        background: linear-gradient(to right, #0e607e, #019BD4);
                        margin-top: 0px;
                        border-top-left-radius: 9px;
                        border-top-right-radius: 9px;
                        text-align: center;
                        padding: 16px 0;
                    }
                    .row {
                        margin: 20px 40px;
                        .btn_login {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #388E3C;
                        }
                    }
                }
            }
        }
        .links {
            width: 400px!important;
            margin: 0 !important;
            padding: 0px;
            height: 50px;
            background: #1976D2;
            background: linear-gradient(to right, #0e607e, #019BD4);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: stretch;
            align-items: stretch;
            a {
                padding: 0!important;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                &:first-of-type {
                    text-align: left!important;
                }
                &:hover {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
        .homMenuContainer {
            margin: 30px 10px 0;
            width: 500px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // border:2px solid red;
            .item {
                width: 200px;
                height: 200px;
                background: rgba(13, 64, 141, 0.8);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
    .dashboardWrap {
        flex: 1;
        width: 100%;
        display: flex;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 0;
        // border:2px solid red;
        margin: 0!important;
        // ADMINS STYLING
        .admins {
            width: 100%;
            flex: 1;
            //  border:2px solid red;
            .formWrap {
                // border:2px solid green;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                form {
                    background: rgba($color: #fff, $alpha: 1);
                    padding: 20px;
                    h6 {
                        margin: 0 0 20px 0;
                        text-align: center;
                        padding-bottom: 20px;
                        border-bottom: 2px solid #eee;
                    }
                    .row {
                        margin: 10px 0 0;
                    }
                }
            }
            .listWrap {
                // border:2px solid blue;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .tableWrap {
                    width: 100%;
                    h6 {
                        margin: 0 0 0px 0;
                        text-align: center;
                        padding-bottom: 20px;
                        border-bottom: 2px solid #eee;
                    }
                    background:rgba($color: #fff,
                    $alpha: 1);
                    padding: 20px;
                    table {
                        width: 100%;
                        tbody {
                            tr {
                                td {
                                    padding: 8px 5px;
                                }
                            }
                        }
                    }
                    .page {
                        .pagination {
                            margin: 10px 0 auto!important;
                        }
                    }
                }
            }
            .pageTitle {}
            .expected {
                padding: 10px;
                table {
                    background: #fff;
                    max-height: 450px;
                    tbody {
                        tr {
                            td {}
                        }
                    }
                }
            }
            .authenticated {
                padding: 10px;
                table {
                    max-height: 450px;
                    background: #fff;
                    tbody {
                        tr {
                            td {}
                        }
                    }
                }
            }
        }
        // PERSONNEL STYLING
        .personnel {
            width: 100%;
            flex: 1;
            position: relative;
            .btn-floating {
                position: fixed;
                bottom: 10px;
                right: 10px;
            }
            .expected {
                padding: 10px;
                table {
                    background: #fff;
                    max-height: 450px;
                    tbody {
                        tr {
                            td {}
                        }
                    }
                }
                ul {
                    background: #fff;
                    margin: 0;
                    padding: 10px;
                    border-top: 2px solid #eee;
                }
            }
            .authenticated {
                padding: 10px;
                table {
                    max-height: 450px;
                    background: #fff;
                    tbody {
                        tr {
                            td {}
                        }
                    }
                }
                ul {
                    background: #fff;
                    margin: 0;
                    padding: 10px;
                    border-top: 2px solid #eee;
                }
            }
        }
    }
    .sidenav-overlay {
        z-index: 990!important;
    }
    .fullWrapper {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: rgba($color: #000, $alpha: 0.6);
        padding: 20px 0;
        .sectionTableWrap {
            width: 90%;
            background: rgba(255, 255, 255, 1);
            border-radius: 4px;
            padding: 25px;
            margin: 0 0 40px 0;
            // border: 4px solid red;
            .dataTables_wrapper {
                width: 100%;
                flex-direction: row;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                .dataTables_length {
                    width: 25%;
                    display: flex;
                    label {
                        display: flex;
                        align-items: center;
                        select {
                            margin: 0 10px;
                        }
                    }
                }
                div.dt-buttons {
                    position: relative;
                    float: none;
                    width: 50%;
                    display: flex;
                    button {
                        background: var(--primary-bg-light);
                        color: #fff!important;
                        border: none!important;
                        &:hover {
                            background: var(--primary-bg-dark);
                        }
                    }
                }
                .dataTables_filter {
                    width: 25%;
                    display: flex;
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
                #users-table {
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    margin: 20px 0;
                    thead {
                        tr {
                            border-bottom: 1px solid #ccc;
                            th {
                                border-bottom: 1px solid #ccc;
                                // &:nth-child(1) {
                                //     width: 1px!important;
                                // }
                                // &:nth-child(2) {
                                //     width: 100px!important;
                                // }
                                // &:nth-child(7) {
                                //     width: 100px!important;
                                // }
                                // &:last-child {
                                //     width: 150px!important;
                                // }
                                .selectAll {
                                    opacity: 1;
                                    position: static;
                                    pointer-events: initial;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            background: transparent;
                            td {
                                padding: 15px 10px!important;
                                .applicantCheckbox {
                                    position: static!important;
                                    opacity: 1;
                                    pointer-events: auto;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .even {
                            background: rgba(223, 223, 223, 0.2)
                        }
                    }
                    tfoot {
                        tr {
                            border-bottom: 1px solid #ccc;
                            th {
                                border-top: 1px solid #ccc;
                                input {
                                    border: 1px solid #9e9e9e!important;
                                    padding: 0 10px;
                                    height: 32px!important;
                                    &:not([type]) {
                                        border: 1px solid #9e9e9e!important;
                                    }
                                }
                                &:first-child {
                                    input {
                                        display: none!important;
                                    }
                                }
                                &:nth-child(2) {
                                    input {
                                        display: none!important;
                                    }
                                }
                                // &:nth-child(6) {
                                //     input {
                                //         display: none!important;
                                //     }
                                // }
                                // &:nth-child(7) {
                                //     input {
                                //         display: none!important;
                                //     }
                                // }
                                // &:last-child {
                                //     input {
                                //         display: none!important;
                                //     }
                                // }
                            }
                        }
                    }
                }
                #users-table_info {
                    flex: 1;
                }
                #users-table_paginate {
                    .paginate_button {
                        background: var(--primary-bg-light);
                        color: #fff!important;
                        border: none!important;
                        &:hover {
                            background: var(--primary-bg-dark);
                        }
                    }
                    .previous {
                        background: var(--primary-bg-dark);
                    }
                    .next {
                        background: var(--primary-bg-dark);
                    }
                    .current {
                        background: var(--primary-bg-dark);
                        color: #fff!important;
                        border: none!important;
                    }
                    .disabled {
                        background: transparent;
                        color: #333!important;
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

//////////////////////////// MEDIA QUERY FOR SMALL SCREEN GOES HERE ///////////////////////////////////
@media only screen and (max-width: 600px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 80%;
        background-position-x: 20%;
        background-attachment: fixed;
        nav {
            .nav-wrapper {
                ul {
                    a {
                        sup.notificationCount {
                            width: 30px;
                            height: 30px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                        }
                    }
                    #notifications {
                        width: auto!important;
                        max-width: 250px;
                        top: 56px!important;
                        li {
                            a {
                                color: var(--primary-bg-dark);
                                display: flex;
                                align-items: center;
                                // i{
                                //     // flex:1;
                                // }
                                .notMsg {
                                    // flex: 1;
                                    p {
                                        margin: 0;
                                    }
                                    sub {
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        main {
            background: rgba(0, 0, 0, 0.7);
            .homeHeader {
                font-size: 20px;
            }
            .homeSubtitle {
                font-size: 14px;
            }
            .box {
                margin: 10px 0;
                max-width: 100%;
                .formWrap {
                    display: inline-block;
                    padding: 0;
                    // border: 1px solid #EEE;
                    background: transparent!important;
                    box-shadow: none!important;
                    border-radius: 0px;
                    form {
                        h6 {
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            text-align: center;
                            padding: 16px 0;
                        }
                        .row {
                            margin: 20px 40px;
                            .helper-text {
                                color: rgb(247, 255, 129)!important;
                                margin-left: 0!important;
                            }
                            .input-field {
                                width: 100%!important;
                                padding: 0!important;
                                i {
                                    display: none;
                                }
                                input {
                                    margin-left: 0!important;
                                    width: 100%!important;
                                    border-bottom: 1px solid rgba(255, 255, 255, 1)!important;
                                    color: rgba(255, 255, 255, 1)!important;
                                }
                                label {
                                    margin-left: 0!important;
                                    color: rgba(255, 255, 255, 1)!important;
                                }
                                p {
                                    margin: 0!important;
                                    label {
                                        span {
                                            font-size: 1rem!important;
                                            color: #fff!important;
                                        }
                                    }
                                }
                                [type="checkbox"].filled-in:not(:checked)+span:not(.lever)::after {
                                    height: 20px;
                                    width: 20px;
                                    background-color: transparent;
                                    border: 2px solid #fff!important;
                                    top: 0px;
                                    z-index: 0;
                                }
                                [type="checkbox"].filled-in:checked+span:not(.lever)::after {
                                    top: 0;
                                    width: 20px;
                                    height: 20px;
                                    border: 2px solid #1976d2;
                                    background-color: #1976d2;
                                    z-index: 0;
                                }
                            }
                            .btn_login {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: #fff;
                                // border: 2px solid #fff;
                                box-shadow: none;
                                color: #0e607e;
                                .spinner-blue-only {
                                    border-color: #fff!important;
                                }
                            }
                        }
                    }
                }
            }
            .links {
                width: 80%!important;
                margin: 0!important;
                background: transparent;
                a {
                    text-align: right!important;
                    padding: 0!important;
                    &:first-of-type {
                        text-align: left!important;
                    }
                }
            }
            .homMenuContainer {
                margin: 10px 0;
                max-width: 320px;
                flex-direction: column;
                .item {
                    width: 150px;
                    height: 150px;
                    background: rgba(13, 64, 141, 0.8);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 12px;
                }
            }
        }
        .dashboardWrap {
            flex: 1;
            width: 100%;
            display: block!important;
            background: rgba(0, 0, 0, 0.6);
            padding: 10px 0 0 0;
            // border:2px solid red;
            margin: 0!important;
            .admins {
                padding: 0!important;
                .formWrap {
                    padding: 0!important;
                }
                .listWrap {
                    margin-top: 20px;
                    padding: 0!important;
                }
                .pageTitle {}
                .expected {
                    padding: 10px;
                    table {
                        background: #fff;
                        max-height: 1000px!important;
                        height: 100%!important;
                        tbody {
                            tr {
                                td {
                                    // &:last-child {
                                    //     // border: 2px solid red;
                                    //     padding: 0;
                                    //     width: 80px;
                                    //     padding: 20px 0;
                                    // }
                                }
                            }
                        }
                    }
                }
                .authenticated {
                    padding: 10px;
                    table {
                        max-height: 1000px!important;
                        background: #fff;
                        height: 100%!important;
                        tbody {
                            tr {
                                td {
                                    // &:last-child {
                                    //     // border: 2px solid red;
                                    //     padding: 20px 0;
                                    //     width: 80px;
                                    // }
                                }
                            }
                        }
                    }
                }
            }
            .personnel {
                .expected {
                    padding: 10px;
                    table {
                        background: #fff;
                        max-height: 1000px!important;
                        height: 100%!important;
                        tbody {
                            tr {
                                td {
                                    // &:last-child {
                                    //     // border: 2px solid red;
                                    //     padding: 0;
                                    //     width: 80px;
                                    //     padding: 20px 0;
                                    // }
                                    a {
                                        padding: 6px 4px!important;
                                        height: auto!important;
                                        line-height: normal!important;
                                        letter-spacing: 0px!important;
                                        text-transform: none!important;
                                    }
                                }
                            }
                        }
                    }
                    ul {
                        background: #fff;
                        margin: 0;
                        padding: 10px;
                        border-top: 2px solid #eee;
                    }
                }
                .authenticated {
                    padding: 10px;
                    table {
                        max-height: 1000px!important;
                        background: #fff;
                        height: 100%!important;
                        tbody {
                            tr {
                                td {
                                    // &:last-child {
                                    //     // border: 2px solid red;
                                    //     padding: 20px 0;
                                    //     width: 80px;
                                    // }
                                    a {
                                        padding: 6px 4px!important;
                                        height: auto!important;
                                        line-height: normal!important;
                                        letter-spacing: 0px!important;
                                        text-transform: none!important;
                                    }
                                }
                            }
                        }
                    }
                    ul {
                        background: #fff;
                        margin: 0;
                        padding: 10px;
                        border-top: 2px solid #eee;
                    }
                }
            }
        }
    }
}