body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
    background-image: url('/storage/site/bgLarge.jpg');
    background-size: contain;
    main {
        flex: 1;
        // border:2px solid red;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px 0;
        .box{
            margin: 10px 0;
            max-width:400px;
            .formWrap{
                display: inline-block;
                padding: 0;
                // border: 1px solid #EEE;
                background: rgba(255, 255, 255, 0.8)!important;
                border-radius: 10px;
                form{
                    h6{
                        // background: rgb(30, 110, 201);
                        margin-top:0px;
                        border-top-left-radius: 9px;
                        border-top-right-radius: 9px;
                        text-align: center;
                        padding:16px 0;
                    }
                    .row{
                        margin: 20px 40px;
                    }
                }
            }
        }
        .homMenuContainer{
            margin: 30px 10px 0;
            width:500px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // border:2px solid red;
            .item{
                width: 200px;
                height: 200px;
                background: rgba(13, 64, 141, 0.8);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    body {
        
        main {
            .homeHeader{
                font-size: 20px;
            }
            .homeSubtitle{
                font-size: 14px;
            }
            .box{
                margin: 10px 0;
                max-width:320px;
                .formWrap{
                    display: inline-block;
                    padding: 0;
                    // border: 1px solid #EEE;
                    background: rgba(255, 255, 255, 0.8)!important;
                    border-radius: 0px;
                    form{
                        h6{
                            border-top-left-radius: 0px;
                            border-top-right-radius: 0px;
                            text-align: center;
                            padding:16px 0;
                        }
                        .row{
                            margin: 20px 40px;
                        }
                    }
                }
            }

            .homMenuContainer{
                margin: 10px 0;
                max-width:320px;
                flex-direction: column;
                .item{
                    width: 150px;
                    height: 150px;
                    background: rgba(13, 64, 141, 0.8);
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 12px;
                }
            }
        }
    }

}