@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
  background-image: url("/storage/site/bgLarge.jpg");
  background-size: contain;
}

body main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
}

body main .box {
  margin: 10px 0;
  max-width: 400px;
}

body main .box .formWrap {
  display: inline-block;
  padding: 0;
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 10px;
}

body main .box .formWrap form h6 {
  margin-top: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  text-align: center;
  padding: 16px 0;
}

body main .box .formWrap form .row {
  margin: 20px 40px;
}

body main .homMenuContainer {
  margin: 30px 10px 0;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body main .homMenuContainer .item {
  width: 200px;
  height: 200px;
  background: rgba(13, 64, 141, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  body main .homeHeader {
    font-size: 20px;
  }

  body main .homeSubtitle {
    font-size: 14px;
  }

  body main .box {
    margin: 10px 0;
    max-width: 320px;
  }

  body main .box .formWrap {
    display: inline-block;
    padding: 0;
    background: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0px;
  }

  body main .box .formWrap form h6 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    padding: 16px 0;
  }

  body main .box .formWrap form .row {
    margin: 20px 40px;
  }

  body main .homMenuContainer {
    margin: 10px 0;
    max-width: 320px;
    flex-direction: column;
  }

  body main .homMenuContainer .item {
    width: 150px;
    height: 150px;
    background: rgba(13, 64, 141, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
  }
}

