@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  transition: all 200ms ease-in-out;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
  background-image: url("/storage/site/bgLarge.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 60%;
}

body nav .nav-wrapper ul a sup.notificationCount {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

body nav .nav-wrapper ul #notifications {
  width: auto !important;
  max-width: 250px;
  top: 64px !important;
}

body nav .nav-wrapper ul #notifications li a {
  color: var(--primary-bg-dark);
  display: flex;
  align-items: center;
}

body nav .nav-wrapper ul #notifications li a .notMsg p {
  margin: 0;
}

body nav .nav-wrapper ul #notifications li a .notMsg sub {
  color: #666;
}

body .modal .modal-content {
  margin-top: 40px;
}

body .modal .modal-content:last-child {
  margin: 0;
}

body .modal .modal-content fieldset {
  border: 2px solid #ccc;
  padding: 0.35em 0.75em 0em !important;
}

body .modal .modal-content fieldset legend {
  padding: 0 10px;
  text-align: center;
}

body .modal .modal-content fieldset legend h6 {
  margin: 0;
}

body .modal .modal-content fieldset .input-field {
  margin: 0.5rem 0 !important;
}

body .modal .modal-content fieldset .input-field .label {
  font-weight: bold;
}

body .modal .modal-footer {
  padding: 0 24px;
}

body .modal .modal-footer li {
  list-style: none;
}

body main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
}

body main .box {
  margin: 10px 0;
  max-width: 400px;
}

body main .box .formWrap {
  display: inline-block;
  padding: 0;
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 10px;
}

body main .box .formWrap form h6 {
  margin-top: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  text-align: center;
  padding: 16px 0;
}

body main .box .formWrap form .row {
  margin: 20px 40px;
}

body main .homMenuContainer {
  margin: 30px 10px 0;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body main .homMenuContainer .item {
  width: 200px;
  height: 200px;
  background: rgba(13, 64, 141, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body main .homMenuContainer .item:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

body .dashboardWrap {
  flex: 1;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  margin: 0 !important;
}

body .dashboardWrap .admins {
  width: 100%;
  flex: 1;
}

body .dashboardWrap .admins .formWrap {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body .dashboardWrap .admins .formWrap form {
  background: white;
  padding: 20px;
}

body .dashboardWrap .admins .formWrap form h6 {
  margin: 0 0 20px 0;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

body .dashboardWrap .admins .formWrap form .row {
  margin: 10px 0 0;
}

body .dashboardWrap .admins .listWrap {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body .dashboardWrap .admins .listWrap .tableWrap {
  width: 100%;
  background: white;
  padding: 20px;
}

body .dashboardWrap .admins .listWrap .tableWrap h6 {
  margin: 0 0 0px 0;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

body .dashboardWrap .admins .listWrap .tableWrap table {
  width: 100%;
}

body .dashboardWrap .admins .listWrap .tableWrap table tbody tr td {
  padding: 8px 5px;
}

body .dashboardWrap .admins .listWrap .tableWrap .page .pagination {
  margin: 10px 0 auto !important;
}

body .dashboardWrap .admins .expected {
  padding: 10px;
}

body .dashboardWrap .admins .expected table {
  background: #fff;
  max-height: 450px;
}

body .dashboardWrap .admins .expected table tbody tr td:last-child {
  padding: 0;
  width: 80px;
}

body .dashboardWrap .admins .authenticated {
  padding: 10px;
}

body .dashboardWrap .admins .authenticated table {
  max-height: 450px;
  background: #fff;
}

body .dashboardWrap .admins .authenticated table tbody tr td:last-child {
  padding: 0;
  width: 80px;
}

body .dashboardWrap .personnel {
  width: 100%;
  flex: 1;
  position: relative;
}

body .dashboardWrap .personnel .btn-floating {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

body .dashboardWrap .personnel .expected {
  padding: 10px;
}

body .dashboardWrap .personnel .expected table {
  background: #fff;
  max-height: 450px;
}

body .dashboardWrap .personnel .expected table tbody tr td:last-child {
  padding: 0;
  width: 80px;
}

body .dashboardWrap .personnel .expected ul {
  background: #fff;
  margin: 0;
  padding: 10px;
  border-top: 2px solid #eee;
}

body .dashboardWrap .personnel .authenticated {
  padding: 10px;
}

body .dashboardWrap .personnel .authenticated table {
  max-height: 450px;
  background: #fff;
}

body .dashboardWrap .personnel .authenticated table tbody tr td:last-child {
  padding: 0;
  width: 80px;
}

body .dashboardWrap .personnel .authenticated ul {
  background: #fff;
  margin: 0;
  padding: 10px;
  border-top: 2px solid #eee;
}

body .sidenav-overlay {
  z-index: 990 !important;
}

@media only screen and (max-width: 600px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    background-position-x: 20%;
    background-attachment: fixed;
  }

  body nav .nav-wrapper ul a sup.notificationCount {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  body nav .nav-wrapper ul #notifications {
    width: auto !important;
    max-width: 250px;
    top: 56px !important;
  }

  body nav .nav-wrapper ul #notifications li a {
    color: var(--primary-bg-dark);
    display: flex;
    align-items: center;
  }

  body nav .nav-wrapper ul #notifications li a .notMsg p {
    margin: 0;
  }

  body nav .nav-wrapper ul #notifications li a .notMsg sub {
    color: #666;
  }

  body main .homeHeader {
    font-size: 20px;
  }

  body main .homeSubtitle {
    font-size: 14px;
  }

  body main .box {
    margin: 10px 0;
    max-width: 100%;
  }

  body main .box .formWrap {
    display: inline-block;
    padding: 0;
    background: rgba(255, 255, 255, 0.8) !important;
    border-radius: 0px;
  }

  body main .box .formWrap form h6 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    padding: 16px 0;
  }

  body main .box .formWrap form .row {
    margin: 20px 40px;
  }

  body main .homMenuContainer {
    margin: 10px 0;
    max-width: 320px;
    flex-direction: column;
  }

  body main .homMenuContainer .item {
    width: 150px;
    height: 150px;
    background: rgba(13, 64, 141, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
  }

  body .dashboardWrap {
    flex: 1;
    width: 100%;
    display: block !important;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0 0 0;
    margin: 0 !important;
  }

  body .dashboardWrap .admins {
    padding: 0 !important;
  }

  body .dashboardWrap .admins .formWrap {
    padding: 0 !important;
  }

  body .dashboardWrap .admins .listWrap {
    margin-top: 20px;
    padding: 0 !important;
  }

  body .dashboardWrap .admins .expected {
    padding: 10px;
  }

  body .dashboardWrap .admins .expected table {
    background: #fff;
    max-height: 1000px !important;
    height: 100% !important;
  }

  body .dashboardWrap .admins .expected table tbody tr td:last-child {
    padding: 0;
    width: 80px;
    padding: 20px 0;
  }

  body .dashboardWrap .admins .authenticated {
    padding: 10px;
  }

  body .dashboardWrap .admins .authenticated table {
    max-height: 1000px !important;
    background: #fff;
    height: 100% !important;
  }

  body .dashboardWrap .admins .authenticated table tbody tr td:last-child {
    padding: 20px 0;
    width: 80px;
  }

  body .dashboardWrap .personnel .expected {
    padding: 10px;
  }

  body .dashboardWrap .personnel .expected table {
    background: #fff;
    max-height: 1000px !important;
    height: 100% !important;
  }

  body .dashboardWrap .personnel .expected table tbody tr td:last-child {
    padding: 0;
    width: 80px;
    padding: 20px 0;
  }

  body .dashboardWrap .personnel .expected table tbody tr td a {
    padding: 6px 4px !important;
    height: auto !important;
    line-height: normal !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
  }

  body .dashboardWrap .personnel .expected ul {
    background: #fff;
    margin: 0;
    padding: 10px;
    border-top: 2px solid #eee;
  }

  body .dashboardWrap .personnel .authenticated {
    padding: 10px;
  }

  body .dashboardWrap .personnel .authenticated table {
    max-height: 1000px !important;
    background: #fff;
    height: 100% !important;
  }

  body .dashboardWrap .personnel .authenticated table tbody tr td:last-child {
    padding: 20px 0;
    width: 80px;
  }

  body .dashboardWrap .personnel .authenticated table tbody tr td a {
    padding: 6px 4px !important;
    height: auto !important;
    line-height: normal !important;
    letter-spacing: 0px !important;
    text-transform: none !important;
  }

  body .dashboardWrap .personnel .authenticated ul {
    background: #fff;
    margin: 0;
    padding: 10px;
    border-top: 2px solid #eee;
  }
}

